{% extends 'core/base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24" style="position: absolute; top: -280px; left: 0; right: 0;">
  <div class="flex justify-center items-center h-screen">
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70">
      <h1 class="font-bold text-4xl my-4">WELCOME TO ATM STAT!</h1>
      <p class="leading-normal mb-4">
        Welcome to our ATM transaction checking app! 
        With this app, you can easily keep track of your ATM transactions and monitor your account balance. 
        Stay on top of your finances with just a few taps.
        We hope you find this app helpful and convenient. 
        Thank you for choosing us!
      </p>
      <div class="flex justify-end w-full">
        <a href="{% url 'accounts:user_registration' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
      </div>
    </div>
  </div>
</div>

<style>
  .flex {
    display: flex;
  }
  .justify-center {
    justify-content: center;
  }
  .items-center {
    align-items: center;
  }
  .h-screen {
    height: 100vh;
  }
</style>

{% endblock %}
